*{
    margin: 0;
    background-color: black;
    color: #fff;
    
}

.body{
    height: 100%;
    width: 100%;
}
.navbar{
    height: 10px;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* margin-top: 5px; */
    padding: 20px 40px;
}

.headline h1{
    font-size: 9vh;
    font-weight: 900;
    opacity: 0.6;
}

.heandlineh1{
    margin-left: 45px;
}