
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    /* transition-delay: 0.3s; */
    cursor: pointer;
}

.nav1 img{
    mix-blend-mode: multiply;
    height: 70px;
}


.nav h4 :hover{
    border-bottom: solid black 1px;
}